input {
    margin: 5px;
}
/*csak az adott típusú bev-i mezőre érvényes */
input[type=submit] {
    background-color: lightblue;
}
/* az aktuálisan íródó mező tulajdonsága */
input[type=text]:focus {
    background-color: lightblue;
}
fieldset { 
    width: 30%;
}
div {
    text-align: center;
}